@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #146C94;
  --color-secondary: #9bd7f1;
  --color-accent: #AFD3E2;

  --color-darkblue: #0B2447;
  --color-background-light: #F6F1F1;
  --color-foreground-light: #0a0a0a;

  --color-background-dark: #121212;
  --color-foreground-dark: #ededed;
  --color-surface: #1E1E1E;
  --color-muted: #424856;
  --color-border: #2A2A2A;
  --color-less-dark: #383838;
}
body {
  margin: 0;
  padding: 0;
}
/* :root {
  --color-bg-light: #F6F1F1;
  --color-bg-mid: #AFD3E2;
  --color-primary: #19A7CE;
  --color-secondary: #146C94;
  --color-accent: #AFD3E2;
  --color-darkblue: #0B2447;

  --color-background: var(--color-bg-light);
  --color-foreground: #0a0a0a;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

.dark {
  --color-background: #121212;
  --color-foreground: #ededed;
  --color-surface: #1E1E1E;
  --color-muted: #CCCCCC;
  --color-border: #2A2A2A;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
} */
